{% extends "home/project/project.html" %}
{% comment %}
<!--

  Created on 2008-12-08.
  $Id: afcp.html 17 2009-08-04 21:17:34Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>HTML5</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>HTML5 Test</h1>

  <h2>Subject</h2>
  <p>
	<b><a class="external" href="/static/html5/html5test.html" rel="external">HTML5 Test</a></b> is a html5 detail test set.
	</p>
  
  <h2>Web Site</h2>
	<p>You can visit the<a class="external" href="/static/html5/html5test.html" rel="external"> HTML5 Test</a>.</p>
	
  <h2>Source Code</h2>
    <p>You can check source code via browser because that all files are static.</p>
</div>

{% endblock %}{# content #}


