{% extends "home/project/project.html" %}
{% comment %}
<!--

  Created on 2008-12-08.
  $Id: afcp.html 17 2009-08-04 21:17:34Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>MobiCours</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>MobiCours</h1>
  
  <h2>Subject</h2>
  
 
 <img style="float:left;padding:0 5px 5px 0;border:0"/ height="88" width="88" src="/static/images/mobicrous-icon-256.png" />  
 <p>
   <b><a class="external" href="http://mobicours.appspot.com/" rel="external">MobiCours</a></b> is an iphone web application for students of Telecom Paris.<br />
     You can consult your lesson schedule if you have a real login of Telecom Paris. Or you can try the demo.<br />Visit the URL: <a class="external" href="http://mobicours.appspot.com/" rel="external">http://mobicours.appspot.com/</a>.
  </p>
  <br /><br />
  <h2>Web Site</h2>
	<p>You can visit the <a class="external" href="http://mobicours.appspot.com/" rel="external">MobiCours</a> via Mobile Sarafi on iphone, Mobile Chrome on android, or on PC.</p>
	I use <a class="external" href="http://code.google.com/intl/en/appengine/" rel="external"> Google App Engine </a> as the server. 
    On the client side, Mobicours is powered by <a class="external" href="http://www.jqtouch.com/" rel="external">jQtouch</a>. 
    </p>
  <h2>How to use</h2>
    <p>
    You can visit <a class="external" href="http://mobicours.appspot.com/" rel="external">http://mobicours.appspot.com/</a> by your iphone safari, than add this page to the main screen.
    </p>
      <table style="vertical-align:middle; text-align:center;">
        <tr>
            <td>No.1
            </td>
            <td>
                No.2
            </td>
            <td>
                No.3
            </td>
        </tr>
        <tr>
            <td>
            <img height="320" width="200" src="/static/images/screen1.jpg"></img>
            </td>
            <td>
            <img height="320" width="200" src="/static/images/screen2.jpg"></img>
            </td>
            <td>
            <img height="320" width="200" src="/static/images/screen3.jpg"></img>
            </td>
        </tr>
    </table>
  
  </div>

{% endblock %}{# content #}


