{% extends "home/project/project.html" %}
{% comment %}
<!--

  
  Created on 2008-12-08.
  $Id: afcp.html 17 2009-08-04 21:17:34Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>AFCP</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>AFCP</h1>

  <h2>主题</h2>
  <p>
	<b><a class="external" href="http://afcp.appspot.com/" rel="external">AFCP</a></b>是一个由在巴黎高科各个学校学习的中国学生组建的学生组织。我为这个学生组织开发和管理网页。其中使用了 Python 语言，代码挂载运行在 google 的云计算服务<a class="external" href="http://code.google.com/intl/en/appengine/" rel="external">Google App Engine</a>。
	</p>
  
  <h2>网页</h2>
	<p>你可以访问<a class="external" href="http://afcp.appspot.com/" rel="external">AFCP 网站</a>。</p>
	
  <h2>代码</h2>
    <p>你可以获得源代码<a class="external" href="http://code.google.com/p/afcp/source/checkout" rel="external">（这里）</a>，使用 SVN 工具提取在 Google Project hosting 上储存的代码。</p>
</div>

{% endblock %}{# content #}


