{% extends "home/project/project.html" %}
{% comment %}
<!--
  Created on 2008-12-08.
  $Id: carto.html 17 2009-08-04 21:17:34Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>Carto</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>Carto</h1>
  
<h2>主题</h2>
  <p>
	<a href="/carto" rel="external"><b>Carto</b></a>是一个关于地理信息的网络应用。它动态显示了一个法国城市，图卢兹市的交通状况。开发过程中使用了 XML/XSLT, SVG, Javascript 和 AJAX 等技术。 
  </p>
  
  <h2>网页</h2>
	<p>你可以访问 <a href="/carto/"><b>Carto</b></a>。<br/>
	   你需要使用 Firefox，Opera 或者 IE6，以获得游览器对于 SVG 的支持。如果你只有 IE 5，请下载一个为获得 SVG 支持的浏览器插件：<a class="external" href="http://www.adobe.com/svg/viewer/install/" rel="external">Adobe Inc.</a>。
	</p>
	<p>注意演示中 ajax 部分功能没有移植到 Google app engine server。但在 PHP 服务器下运行正常。</p>
  <h2>源代码</h2>
    <p>你可以获得源代码: 
	<ul>
		<li><a href="/static/project/carto-php.rar"><b>提供给PHP服务器</b></a><br/></li>
		<!--<li><a href="/static/project/carto-django.rar" rel="external"><b>For Django server</b></a></li>
		-->
	</ul>
	</p>
  </p>
</div>

{% endblock %}{# content #}