{% extends "home/project/project.html" %}
{% comment %}
<!--
  Created on 2008-12-08.
  $Id: afcp.html 17 2009-08-04 21:17:34Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>HTML5</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>HTML5 Test</h1>

  <h2>主题</h2>
  <p>
	<b><a class="external" href="/static/html5/html5test.html" rel="external">HTML5 Test</a></b> 是一个 html5 各项功能细节的详细测试。你可以在各种浏览器（当然包括各种手机浏览器，或者 webkit 引擎）中运行这些页面。
    各家浏览器对 html5 的支持不尽相同。就连同一平台上的浏览器和其 webkit 引擎都有不同结果，例如 iphone 上的 safari mobile 和 UIWebview，得到结果都不相同。主流浏览器中，chrome 和 safari 对于 HTML5 的支持比较好。
  
  <h2>网页</h2>
	<p>你可以访问 <a class="external" href="/static/html5/html5test.html"  rel="external">HTML5 Test</a> ，以查看演示效果。</p>
	
  <h2>代码</h2>
    <p>此项目皆为静态页面，你可以在浏览器中直接查看。</p>
</div>

{% endblock %}{# content #}


