{% extends "home/project/project.html" %}
{% comment %}
<!--

  Created on 2008-12-08.
  $Id: afcp.html 17 2009-08-04 21:17:34Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>MobiCours</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>MobiCours</h1>
  
  
  <h2>主题</h2>
  
  <img style="float:left;padding:0 5px 5px 0;border:0"/ height="88" width="88" src="/static/images/mobicrous-icon-256.png" />  
  <p> 
   <b><a class="external" href="http://mobicours.appspot.com/" rel="external">MobiCours</a></b> 是一个 iphone 网页应用程序。<br />
     Telecom Paris 的学生可以用自己的账户登录查看课表，若无帐户可以观看 demo。<br />访问地址为：<a class="external" href="http://mobicours.appspot.com/" rel="external">http://mobicours.appspot.com/</a>。
  </p>
  <br /><br />
  <h2>简介</h2>
	<p>你可以通过 iphone 上的 Mobile safari, android 上的 Mobile chrome 或者 PC 上的 safari 和 chrome 访问 <a class="external" href="http://mobicours.appspot.com/" rel="external">MobiCours</a>。</p>
    但现在对于 android 上的 Mobile chrome 支持并不完美。 
	在这个小应用中，服务器端使用了 <a class="external" href="http://code.google.com/intl/en/appengine/" rel="external"> Google App Engine </a>。 
    客户端使用了一个 javascript 库 <a class="external" href="http://www.jqtouch.com/" rel="external">jQtouch</a>。 
  </p>
  
  <h2>使用</h2>
    <p>
    你可以用你的 iphone 上的 safari 访问 <a class="external" href="http://mobicours.appspot.com/" rel="external">http://mobicours.appspot.com/</a> ，然后将这个页面加至主屏幕。
    </p>
    <p>
    步骤如下：
    </p>

    <table style="vertical-align:middle; text-align:center;">
        <tr>
            <td>第一步
            </td>
            <td>
                第二步
            </td>
            <td>
                第三步
            </td>
        </tr>
        <tr>
            <td>
            <img height="320" width="200" src="/static/images/screen1.jpg"></img>
            </td>
            <td>
            <img height="320" width="200" src="/static/images/screen2.jpg"></img>
            </td>
            <td>
            <img height="320" width="200" src="/static/images/screen3.jpg"></img>
            </td>
        </tr>
    </table>
  </div>

{% endblock %}{# content #}


