/**
 Created on 2008-10-23.
 $Id: home.css 17 2009-08-04 21:17:34Z guolin.mobi $
 */
 
#header-wrapper {
  margin: 0;
  padding: 10px 0 10px 0;
  height: 0px;
}

#header-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
} 
 
#header-wrapper .logo {
  margin: 0;
  padding: 4px;
  float: left;
  display: inline;
}

#header-wrapper .quote {
  margin: 0;
  padding: 4px;
  font: italic normal 105% 'Trebuchet MS',arial,sans-serif;
  text-align: right;
  float: right;
  display: inline;
}
